.main {
  width: 100vw;
  height: 100vh;
  background-color: darkslategrey;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(5, 41, 2);
  padding: 0;
  overflow: hidden;
}

.section {
  width: 100vw;
  height: 101vh;

  background-color: #262626;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.aside {
  height: 91%;
  width: 26%;
  background-color: #262626;
  overflow-x: hidden;
  justify-content: space-evenly;
  display: flex;
  border-radius: 1rem;
}
.aside::-webkit-scrollbar {
  width: 0;
}
.chatBox {
  height: 100%;
  width: 70%;
  padding: 10px;
}
.div {
  width: 18rem;
  overflow: hidden;
  border-radius: 18px;
}
.div::-webkit-scrollbar {
  width: 0;
}

.searchinput {
  width: 15rem;
  border: 1px solid black;
  color: white;
  border-radius: 4rem;
  margin-left: 1rem;
  padding: 0.5rem;
}
.friendList {
  height: fit-content;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 16.5rem;
}
.friendList::-webkit-scrollbar {
  width: 0;
}
.line {
  width: 1px;
  height: 90%;
  color: white;
  background-color: white;
  z-index: 2;
  position: fixed;
  left: 21rem;
}
.horizontal {
  position: relative;
  width: 15rem;
  height: 0;
}
H1 {
  height: fit-content;
}
.loader {
  width: 4rem;
  position: absolute;
  top: 40%;
  left: 28%;
  background-blend-mode: color-burn;
}

/* Tablet view  */
@media screen and (max-width: 1200px) {
  .div {
    width: 13rem;
  }
  .line {
    left: 17rem;
  }
  .searchinput {
    width: 11rem;
  }
  .horizontal {
    width: 12rem;
  }
}

@media screen and (max-width: 1000px) {
  .div {
    width: 10rem;
  }
  .line {
    left: 13.5rem;
  }
  .searchinput {
    width: 8rem;
  }
  .section {
    position: relative;
    /* top: 3rem; */
  }
}

@media screen and (max-width: 600px) {
  .main {
    overflow-x: hidden;
    height: 101vh;
  }
  .div {
    position: absolute;
    top: 5rem;
    width: 21rem;
    left: 1rem;
    z-index: 1;
    height: 36rem;
    overflow-x: hidden;
  }
  .searchinput {
    width: 19rem;
  }
  .horizontal {
    width: 20rem;
  }
  .line {
    visibility: hidden;
  }
  .loader {
    left: 40%;
  }
}

@media screen and (max-width: 300px) {
  .div {
    border: 2px solid red;
    width: 24rem;
    height: 89vh;
  }
  .searchinput {
    width: 22rem;
  }
}
