.main {
  width: 100vw;
  height: 100vh;
  background-color: darkslategrey;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(5, 41, 2);
  padding: 0;
  overflow: hidden;
}

.section {
  width: 100vw;
  height: 101vh;

  background-color: #262626;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.aside {
  height: 91%;
  width: 26%;
  background-color: #262626;
  overflow-x: hidden;
  justify-content: space-evenly;
  display: flex;
  border-radius: 1rem;
}
.aside::-webkit-scrollbar {
  width: 0;
}
.chatBox {
  height: 100%;
  width: 70%;
  padding: 10px;
}
.div {
  width: 18rem;
  overflow: hidden;
  border-radius: 18px;
}
.div::-webkit-scrollbar {
  width: 0;
}

.searchinput {
  width: 15rem;
  border: 1px solid black;
  color: white;
  border-radius: 4rem;
  margin-left: 1rem;
  padding: 0.5rem;
}
.friendList {
  height: fit-content;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 16.5rem;
}
.friendList::-webkit-scrollbar {
  width: 0;
}
.line {
  width: 1px;
  height: 90%;
  color: white;
  background-color: white;
  z-index: 2;
  position: fixed;
  left: 21rem;
}
.horizontal {
  position: relative;
  width: 15rem;
  height: 0;
}
H1 {
  height: fit-content;
}
