.nav {
  border-radius: 1rem;
  margin-bottom: 0.5rem;
}

.name {
  position: absolute;
  color: white;
  top: 0.7rem;
  left: 27rem;
}

.dp {
  border-radius: 50%;
  width: 50px;
  height: 3rem;
  margin: 0.5rem;
}
.back {
  color: white;
  position: absolute;
  z-index: 1;
  top: 1rem;
  left: 20rem;
  visibility: hidden;
}
@media screen and (max-width: 1200px) {
  .name {
    left: 23rem;
  }
}
@media screen and (max-width: 1000px) {
  .name {
    left: 5rem;
  }
}
@media screen and (max-width: 600px) {
  .nav {
    position: absolute;

    width: 23rem;
    left: 0rem;
    height: 4rem;
    background: black;
  }
  .dp {
    top: -0.2rem;
    position: relative;
  }
  .name {
    left: 4rem;
    width: 8rem;
    top: 0.3rem;
  }
  .back {
    visibility: visible;
  }
}

@media screen and (max-width: 300px) {
  .nav {
    width: 26rem;
    height: 5rem;
  }
  .back {
    left: 22rem;
    top: 1.5rem;
  }
}
