.nav {
  border-radius: 1rem;
  margin-bottom: 0.5rem;
}

.name {
  position: absolute;
  color: white;
  top: 0.7rem;
  left: 27rem;
}

.dp {
  border-radius: 50%;
  width: 50px;
  height: 3rem;
  margin: 0.5rem;
}
@media screen and (max-width: 1200px) {
  .name {
    left: 23rem;
  }
}
